configuration {
	show-icons: true;
	lines: 15;
	columns: 1;
	font: "PT Mono 12";
	/* padding: 100; */
	auto-select: false;
	/* line-margin: 18; */
	separator-style: "solid";
	hide-scrollbar: true;
	theme: "~/.config/rofi/themes/gruvbox/gruvbox-dark-hard.rasi";
}

#window {
    border: 1;
    border-radius: 4px;
    padding: 50;
    width: 28%;
    height: 50%;
}



